@model e_commerce_website.Models.OrderDetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input hidden asp-for="OrderHeader.Id"/>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div>

                    <dl class="row">
                        <dt class="col-sm-4">
                            <h5>Name</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Name
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Surname</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Surname
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Phone Number</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.PhoneNumber
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Adress</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Adress
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Province</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.Province
                        </dd>

                        <dt class="col-sm-4">
                            <h5>City</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.City
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Zip Code</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.ZipCode
                        </dd>

                        <dt class="col-sm-4">
                            <h5>Order Date</h5>
                        </dt>
                        <dd class="col-sm-8">
                            @Model.OrderHeader.OrderDate.ToShortDateString()
                        </dd>

                    </dl>

                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">

                    <ul class="list-group mb-3">

                        @foreach (var item in Model.OrderDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">@item.Product.Title</h6>
                                    <small class="text-muted">Quantity: @item.Count</small>
                                </div>
                                <span class="text-muted">@((item.Count * item.Product.Price).ToString("0.00")) $</span>
                            </li>
                        }

                        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                            <div class="text-success">
                                <h6 class="my-0">Total Price: </h6>
                            </div>
                            <span class="text-success">@(Model.OrderHeader.OrderTotal.ToString("0.00")) $</span>
                        </li>
                    </ul>
                    @if(User.IsInRole(Other.Role_Admin))
                    {
                        <br/>
                        @if(Model.OrderHeader.OrderStatus == Other.OrderConfirmed)
                        {
                            <input type="submit" value="Initiate Shipment" class="btn btn-primary form-control" formaction="/Admin/Order/InitiateShipment" formmethod="post"/>
                        }

                        @if (Model.OrderHeader.OrderStatus == Other.OrderOnHold)
                        {
                            <input type="submit" value="Confirm" class="btn btn-primary form-control" formaction="/Admin/Order/Confirmed" formmethod="post" />
                        }
                    }
                    else
                    {
                        <label class="btn btn-primary form-control">@Model.OrderHeader.OrderStatus</label>
                    }

                </div>

            </div>

        </div>
    </div>

   
</form>
