@model IEnumerable<e_commerce_website.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Product</a>
    </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>Image</th>
                <th>Title</th>
                <th>HomePage</th>
                <th>Stock</th>
                <th>Category</th>
        
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                 
                  
                    <td>
                        @if (item.IsHome)
                        {
                            <label class="btn btn-success btn-sm"><i class="bi bi-check-lg"></i></label>
                        }
                        else
                        {
                            <label class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></label>
                        }
                        </td>
                    <td>
                        @if (item.IsStock)
                        {
                            <label class="btn btn-success btn-sm"><i class="bi bi-check-lg"></i></label>
                        }
                        else
                        {
                            <label class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></label>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


